@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&family=Shadows+Into+Light&display=swap');


*{
    padding: 0;
    margin: 0;
     
}

.bubble-sort{
     padding-left: 260px;
    background-color: #394867;
    height: 100vh;
    width: 100%;
    
}

.bubble-sort h1{
    color: white;
    font-family: 'Shadows Into Light', cursive;
    text-align: center;
    font-size: 45px;
    
}



.bubble-sort h3{
    padding: 5px;
}

.bubble-sort button{
    background-color: #1d2730;
    padding: 15px;
    cursor: pointer;
  
}
.bubble-sort button:hover{
    background-color: #11171c;
}

.section_bs{
    margin-bottom: 10px;
    background-color: #566b94;
    max-width: 650px;
    padding: 10px;
    border-radius: 15px;
    box-shadow: 5px 10px 18px #252f44;
    display: flex;
    margin: auto;
}

.section_bs p{
    padding: 25px;
}

.code_section{
    max-width: 1300px;
    padding: 10px;
    display: flex;
}

.information_bs{
    background-color: #2f3a50;
    max-width: 400px;
    padding: 12px;  
    margin-bottom: 10px;
    margin-top: 10px;
    border-radius: 15px;
   display: flex;
   text-align: center;
   box-shadow: 5px 10px 18px #252f44;
}

.information_bs p {
    padding: 10px;
}

.component_bs{
    padding: 10px;
    float: left;
    width: 600px;
}



.bubble-sort img{
    height: 400px;
    position: relative;
    left: 300px;
    top: 100px;
}