@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&family=Shadows+Into+Light&display=swap');


*{
    padding: 0;
    margin: 0;
     
}

.bubble-sort{
     padding-left: 260px;
    background-color: #394867;
    height: 100vh;
    width: 100%;
}

.bubble-sort h1{
    color: white;
    font-family: 'Shadows Into Light', cursive;
    text-align: center;
    font-size: 45px;
    
}



.bubble-sort h3{
    padding: 5px;
}

.bubble-sort button{
    background-color: #1d2730;
    padding: 15px;
    cursor: pointer;
  
}
.bubble-sort button:hover{
    background-color: #11171c;
}

