@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&family=Shadows+Into+Light&display=swap');

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    outline: none;
    
}

body{
    background-color: #394867;
}

.loading{
  background-color: #33415e;
  height: 100vh;
  width: 100%;
  z-index: 1;
  position: fixed;
}

.loading img{
position: relative;
right: 100px;
}

.home {
    padding-left: 260px;
    height: 100%;

}

.home h1 {
    color: white;
    font-family: 'Shadows Into Light', cursive;
    text-align: center;
    font-size: 60px;
    padding: 20px;
}

.home li {
    color: white;
    font-family: Nunito, sans-serif;
    font-weight: 300;
}

.typewritter h1 {
    overflow: hidden;
    border-right: .15em solid orange;
    white-space: nowrap;
    margin: 0 auto;
    letter-spacing: .15em;
    animation: 
    typing 3.5s steps(40, end),
    blink-caret .75s step-end infinite;
    
}

@keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }

  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: transparent; }
  }

  .home-content img{
    height: 350px;
    padding-left: 50px;
    padding-top: 20px;
    padding-right: 70px;
  }

  .home-content {
    display: flex;
    align-items: center;
   
  }

  .home-content p {
    background-color: #495d84;
    padding: 30px;
    width: 700px;
    padding-left: 20px;
    font-size: 20px;
    border: 1px solid #495d84;
    box-shadow: 5px 10px 18px #33415e;
  }

  .home-column{
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 120px;
    justify-content: center;
    padding-top: 30px;
   
  }

  .home-column .rows h3{
    text-align: center;
    padding: 5px;
    
  }

  .home-column img{
    height: 150px;
    display: block;  
    margin-left: auto;  
    margin-right: auto;
  }

  .home-column .rows {
    background-color: #8597b8;
    padding: 20px;
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
    width: 350px;
    box-shadow: 5px 10px 18px #33415e;
  }

  .home-column li{
    list-style: none;
    padding-top: 10px;
    text-align: center;
  }


.home img:hover{
    animation: 1.5s ease 0s infinite beat;
}




  @keyframes beat {
    0%, 50%, 100% { transform: scale(1, 1); }
    30%, 80% { transform: scale(0.92, 0.95); }
  }

  .home-content a{
    color:#c81b1b;
    text-decoration: underline;
  }