@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&family=Shadows+Into+Light&display=swap');



*{
    margin: none;
    padding: none;
    outline: none;
    border: none;
    text-decoration: none;
    box-sizing: border-box;
    color: white;
}

.header{
    position: relative;
    display: flex;
    flex-direction: column;
    z-index: 1;
}


.header .nav{
    background-color: #9BA4B5;
    width: 250px;
    position: fixed;
    height: 100%;
    
}

.nav h1{
    font-family:'Shadows Into Light', cursive;
    text-align: center;
    padding-bottom: 12px;
    color: white;
}

.nav li{
   font-family: 'Nunito', sans-serif;
   text-align: center;
   padding: 14px;
   
   
}
.nav li:hover{
    background-color: #212A3E;
    transition: ease-in-out 0.7s;
}
